<div class="banner" style="background-image:url('<%= asset_path("banner.jpg") %>')">
  <div class="banner-content">
    <h1>Une selection des guides locaux recommandés par tous leurs clients</h1>
    <p>Pour tous vos treks et voyages hors des sentiers battus</p>
  </div>
</div>
